
$h1:clamp(55px,2vw,72px);
$h2:40px;
$h3:34px;
$h4:20px;
$h5:16px;
$h6:16px;
$p-normal:20px;
$p-sml:16px;
$p-smll:14px;
$bg-main:#F3F5F7;
$color-07:#141718;
$color-04:#6C7275;
$color-n-2:#23262F;
$color-05:#343839;

$black:black;

$bg-grey:#F3F5F7;

@include respons(tablet){


    $h4:clamp(14px,2vw,20px);
    $h5:clamp(14px,2vw,16px);
    
    $p-sml:clamp(16px,2vw,17px)
}
@include respons(mobile){
    
  
  
    $h4:clamp(14px,2vw,20px);
    $h5:clamp(14px,2vw,15px);
   
    $p-sml:clamp(14px,2vw,16px)



}


