.container-xl{
    width: 100%;
}
.container{
    
    width: 80%;
    margin: auto;
    

    @include respons(tablet){
        width: 90%;

    }
}
h1{
    font-size: $h1;
    color: $color-07;
    font-family: $poppin;
    font-weight: 500;

    @include respons(tablet){
        font-size:clamp(40px,2vw, 72px) ;
    }
    @include respons(mobile){
        $font-size:clamp(25px,1vw,30px);

    }
}

h2{
    font-size: $h2;
    color: $black;
    font-family: $poppin;
    font-weight: 500;

    @include respons(tablet){
        font-size:clamp(30px,2vw,40px) ;
    }
    @include respons(mobile){
        $font-size:clamp(20px,2vw,34px);

    }

}
h3{
    font-size: $h3;
    color:$color-07;
    font-family: $poppin;
    font-weight: 500;
    @include respons(tablet){
        font-size:clamp(20px,1vw,30px) ;
    };
    @include respons(mobile){
        font-size:clamp(24px,2vw,20px);

    }

}
h4{
    font-size: $h4;
   font-family: $poppin;
   font-style: normal;
   font-weight: 500;
   line-height: 28px;

   @include respons(tablet){
    font-size: clamp(14px,2vw,20px);
   }
}
h5{
    font-size: $h5;  //16px
    color: $color-07;
    font-family: $inter;
    font-weight: 700;
}
h6{
    font-size: $h6;
    font-weight: 700;
    font-style: $inter;

}
p{
    font-size: $p-normal;
    font-family: $inter;
    color: $color-07;

    @include respons(tablet){
        font-size:clamp(16px,2vw,20px);
    }
    @include respons(mobile){
        $font-size:clamp(16px,2vw,17px);

    }
}


.p-smml{
    font-size: $p-smml;
    font-weight: 500;
    font-family: $inter;
}
.p-sml{
    font-size: $p-sml;
    font-weight: 500;
    font-family: $inter;

    @include respons(mobile){
        font-size: 14px;
    }
}

// all Color class
.bg-green{
    background-color: $color-green;
}
.color-07{
    color: $color-07;

}
.color-05{
    color:$color-05;
}
.color-04{
    color: $color-04;
}
.color-2{
    color: $color-n-2;
}
.bg-main{
    background-color: $bg-main;
}
.text-muted{
    color: $color-04;
}
.color-blue{
    color: #377DFF;
}